*{
    box-sizing: border-box;
}



body,
h1,
h2,
h3,
p{
    margin: 0;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5b6467;
background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

#search{
    padding: .5em 1em;
    border-radius: .5em;
}

.weather{
    display: flex;
    align-items: center;
    gap: 1em;
}