*{
    box-sizing: border-box;
}



body,
h1,
h2,
h3,
p{
    margin: 0;
}



.main-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}


.main-heading{
    color: #db59f5;
    opacity: .3;
    font-size: clamp(4rem,9vw + 1rem, 8rem);
    margin-top: .5em;
    
}

.input{
    border: none;
    padding: .6em 1.2em;
    font-size: clamp(.8rem, 2vw, 1.3rem);
    outline: none;
    overflow: scroll;
    letter-spacing: .05em;
}

#form{
    margin: 0;
    margin-top: 3em;
    font-size: clamp(.8rem, 2vw, 1.3rem);
    max-width: 40em;
}

.form-container{
    box-shadow:  0 0 5px #ccc;
    background-color: white;
}

.todo-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todo-list li{
    border-top: 1px solid rgb(223, 221, 221);
    cursor: pointer;
    overflow: scroll;
    padding: .6em 1.2em;
}

.description{
    margin-top: 2.5em;
    font-size: clamp(.8rem, 2vw, 1rem);
    text-align: center;
}


.completed{
    text-decoration: line-through;
    color: rgb(122, 121, 121);
    
}